/*  your css code here. If applicable */
#yellow{
	background-color: yellow;
	border:green;
	border-width:1px;
}

#red{
		background-color:red;
	border:black;
	border-width:1px;
}
#green{
	background-color:green;
	border:yellow;
	border-width:1px
}


